.center-carousel {
  text-align: center;
}

.my-custom-rating{
  font-size: 20px;
  margin-top: -5.9%;
}

.my-price{
  margin-left: 70%;
}

.carousel-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {transform: rotate(360deg);}
}

.carousel-inner {
  display: flex;
  justify-content: center;
}
