<section class="content-wrap">
  <ngb-carousel *ngIf="recomendedGames" class="center-carousel">
    <ng-template ngbSlide *ngFor="let game of recomendedGames">
      <img [src]="gameImage(game)" alt="" class="carousel-image">
      <div class="carousel-caption">
        <h3>{{ game.name }}</h3>
        <a class="btn btn-lg" role="button" (click)="goToGame(game.id)">Purchase</a>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="container youplay-store store-grid">
    <div class="row">
      <!-- Games List -->
      <div class="col-md-9 isotope">
        <!-- Sort Categories -->
        <!-- /Sort Categories -->

        <div class="isotope-list row vertical-gutter">
          <div class="item col-lg-4 col-md-6 col-xs-12" *ngFor="let game of games">
            <a role="button" (click)="goToGame(game.id)" class="angled-img">
              <div class="img img-offset">
                <img [src]="gameImage(game)" alt="">
              </div>
              <div class="bottom-info">
                <h4>{{game.name}}</h4>
                <div class="row">
                  <div class="col-xs-6">
                    <ngb-rating [(rate)]="game.totalRating/game.reviewCount" [decimal]="1" readonly="true" max="5"
                      class="my-custom-rating"></ngb-rating>
                  </div>
                  <div class="col-xs-6">
                    <div class="price my-price">
                      ${{game.price}}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- /Single Product Block -->
        </div>

        <div [class.display-div]="!moreGames" *ngIf="!loading">
          <button class="btn btn-default" (click)="getMoreGames()">Load More Games</button>
        </div>
        <div *ngIf="loading" class="spinner"></div>
      </div>
      <!-- /Games List -->

      <!-- Right Side -->
      <div class="col-md-3">

        <app-side-block></app-side-block>

      </div>
    </div>
    <!-- /Right Side -->
  </div>

</section>
