<form *ngIf="!loginService.isLogged()" class="navbar-form navbar-right form-inline" role="search">

	<div class="form-group">
		<input #user type="text" class="form-control" name="username" placeholder="Username">
	</div>

	<div class="form-group">
		<input #pass type="password" class="form-control" name="password" placeholder="Password">
	</div>

	<button type="submit" (click)="logIn($event, user.value, pass.value)" class="btn btn-default">Sign In</button>

</form>

<div *ngIf="loginService.isLogged()" class="nav navbar-nav navbar-right">

	<ul class="nav navbar-nav">
		<div class="navbar-nav mr-auto">
			<a class="navbar-brand" href="/">Current user: {{loginService.currentUser().name}}</a>
		</div>
		<li>
			<button class="btn btn-default navbar-btn" (click)="logOut()" type="button">Log Out</button>
		</li>
	</ul>

</div>