<nav class="navbar navbar-expand-lg navbar-youplay fixed-top navbar-default bg-light mb-3 custom-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets/images/logo.png" alt="">
    </a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
      <ul class="nav navbar-nav">
        <ng-template [ngIf]="!loginService.isLogged()">
          <li class="nav-item">
            <!-- Step 4: Close the menu when a link is clicked. -->
            <a class="nav-link" role="button" (click)="login()">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="register()">Register</a>
          </li>
        </ng-template>
        <ng-template [ngIf]="loginService.isLogged()">
          <li class="nav-link dropdown dropdown-hover">
            <a class="" href="/profile/{{currentUser.id}}" data-toggle="dropdown" role="button" aria-expanded="false">
              {{this.loginService.currentUser().name}}<span class="badge bg-default">2</span> <span
                class="caret"></span>
              <span class="label">it is
                you</span>
            </a>
            <div class="dropdown-menu">
              <ul role="menu">
                <li><a href="/profile/{{currentUser.id}}">Profile <span
                      class="badge pull-right bg-warning">13</span></a>
                </li>
                <li><a href="/cart/{{currentUser.id}}">My Cart <span class="badge pull-right bg-default">3</span></a>
                </li>
                <li class="divider"></li>

                <li>
                  <form action="/logout" method="post">
                    <button class="btn btn-default navbar-btn" type="submit">Log
                      Out</button>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                  </form>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="fa fa-shopping-cart" role="button"></a>
          </li>

          <ng-template [ngIf]="loginService.isAdmin()">
            <li class="nav-item">
              <a class="nav-link" >NEW GAME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >CONTROL PANEL</a>
            </li>
          </ng-template>
        </ng-template>

        <li class="nav-item">
          <a class="fa fa-search" role="button"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
