<section class="content-wrap">
  <nav [ngClass]="{'custom-nav-semi': scrolled, 'custom-nav-very': !scrolled}" #navbar
    class="navbar navbar-expand-lg navbar-youplay fixed-top navbar-default bg-light mb-3 custom-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="assets/images/logo.png" alt="">
      </a>

      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
        <ul class="nav navbar-nav">
          <ng-template [ngIf]="!loginService.isLogged()">
            <li class="nav-item">
              <!-- Step 4: Close the menu when a link is clicked. -->
              <a class="nav-link" role="button" (click)="login()">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="register()">Register</a>
            </li>
          </ng-template>
          <ng-template [ngIf]="loginService.isLogged()">
            <li class="nav-link dropdown dropdown-hover">
              <a class="" (click)="myProfile()" data-toggle="dropdown" role="button" aria-expanded="false">
                {{this.loginService.currentUser().name}}<span class="badge bg-default">2</span> <span
                  class="caret"></span>
                <span class="label">it is
                  you</span>
              </a>
              <div class="dropdown-menu">
                <ul role="menu">
                  <li><a role="button" (click)="myProfile()">Profile <span
                        class="badge pull-right bg-warning">13</span></a>
                  </li>
                  <li><a (click)="cart()" role="button">My Cart <span class="badge pull-right bg-default">3</span></a>
                  </li>
                  <li class="divider"></li>

                  <li>
                    <button class="btn btn-default navbar-btn" (click)="logout()">Log
                      Out</button>
                  </li>
                </ul>
              </div>
            </li>

            <li class="dropdown dropdown-hover dropdown-cart nav-item">
              <a class="fa fa-shopping-cart nav-link" role="button" (click)="cart()">
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-scrollable" style="width: 300px;">
                <ng-template [ngIf]="this.loginService.getCurrentCart().numberOfElements > 0">
                  <div class="row youplay-side-news" *ngFor="let game of this.loginService.getCurrentCart().content">
                    <div class="col-xs-3 col-md-4">

                      <a href="/game/{{game.id}}" class="angled-img">
                        <div class="img">

                          <img [src]="this.gameService.getGameCoverImage(game)" alt="">
                        </div>
                      </a>

                    </div>
                    <div class="col-xs-9 col-md-8">
                      <a (click)="deleteFromCart(game.id)" role="button" style="text-decoration: none;"
                        class="pull-right mr-10">
                        <i class="fa fa-times"></i>
                      </a>

                      <h4 class="ellipsis"><a href="/game/{{game.id}}">{{game.name}}</a></h4>
                      <span class="quantity">1 × <span class="amount">${{game.price}}</span></span>
                    </div>
                  </div>



                  <div class="ml-20 mr-20 pull-left" *ngIf="!this.loginService.getCurrentCart().last"><strong>View cart
                      to see all the games</strong> </div>

                  <div class="ml-20 mr-20 pull-left"><strong>Subtotal:</strong> <span
                      class="amount">${{totalPrice()}}</span>
                  </div>
                  <div class="btn-group pull-right m-15">
                    <a role="button" (click)="cart()" class="btn btn-default btn-sm">View Cart</a>
                    <a href="/checkout/{{currentUser.id}}" class="btn btn-default btn-sm">Checkout</a>
                  </div>
                </ng-template>


                <div class="ml-20 mr-20 pull-right" *ngIf="this.loginService.getCurrentCart().numberOfElements === 0">
                  <strong>The cart is empty</strong>
                </div>

              </div>
            </li>

            <ng-template [ngIf]="loginService.isAdmin()">
              <li class="nav-item">
                <a class="nav-link" role="button">NEW GAME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" role="button" (click)="controlPanel()">CONTROL PANEL</a>
              </li>
            </ng-template>
          </ng-template>

          <li class="nav-item">
            <a class="fa fa-search" role="button"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
