.starValue{
    margin-right: 2%;
}

.imageInput {
    display: none;
}

#imageUploads{
    display: none;
}

.lds-dual-ring.hidden {
    display: none;
}

/*Spinner Styles*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid rgb(0, 128, 192);
    border-color: rgb(0, 128, 192) transparent rgb(0, 128, 192) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btnMoreIndexGames{
    position: absolute;
right:    0;
bottom:   0;
}

.moreIndexGames{
    position: relative;
}