<section class="content-wrap">

  <!-- Banner -->
  <div class="youplay-banner banner-top youplay-banner-parallax xsmall">
    <div class="image" style="background-image: url('assets/images/banner-blog-bg.jpg')">
    </div>

    <div class="info">
      <div>
        <div class="container">
          <h1>Register</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banner -->
  <div class="container youplay-content">

    <div class="col-md-12">
      <!-- Billing Information -->
      <h2 class="mt-0">Personal Information</h2>
      <div class="row">
        <div class="col-md-6">
          <p>Name:</p>
          <div class="youplay-input">
            <input type="text" #name (ngModel)="name" placeholder="Name">
          </div>
          <div class="wrong" [class.display-div]="checkEmpty(name.value)">
            <p> The name cant be empty!</p>
          </div>
        </div>
        <div class="col-md-6">
          <p>Last Name:</p>
          <div class="youplay-input">
            <input type="text" #lastName (ngModel)="lastName" placeholder="Surname">
          </div>
          <div class="wrong" [class.display-div]="checkEmpty(lastName.value)">
            <p> The last name cant be empty!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Email:</p>
          <div class="youplay-input">
            <input type="text" [(ngModel)]="email" placeholder="email">
          </div>
          <div class="wrong">
            <p>{{checkEmail()}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <p>Repeat Email:</p>
          <div class="youplay-input">
            <input type="text" [(ngModel)]="rEmail" placeholder="email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Password:</p>
          <div class="youplay-input">
            <input type="password" [(ngModel)]="encodedPassword" placeholder="Password">
          </div>
          <div class="wrong">
            <p>{{checkPassword()}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <p>Repeat Password:</p>
          <div class="youplay-input">
            <input type="password" [(ngModel)]="rPassword" placeholder="Password">
          </div>
        </div>
      </div>
    </div>
    <p>About me:</p>
    <div class="youplay-textarea">
      <textarea name="aboutMe" rows="5" [(ngModel)]="aboutMe" placeholder="Description"></textarea>
    </div>

    <div class="alert alert-danger" [class.display-div]="displayed" role="alert">
      <strong>Register form data is not correct!</strong>
    </div>

    <div class="alert alert-danger" [class.display-div]="displayedRegister" role="alert">
      <strong>This email is actually in use!</strong>
    </div>

    <div class="align-right">
      <a class="btn btn-lg" (click)="register($event, name.value, lastName.value)">Create Account</a>
    </div>
    <!-- /Billing Information -->
    <label id="wrongpass"></label>
    <label id="wrongemail"></label>
  </div>

  <!-- Order Button -->

  <!-- /Order Button -->

  <!-- Footer -->
  <!-- /Footer -->


</section>
