.display-div{
    display: none;
}

.wrong{
   color: red;
}

.white-text {
  color: white;
}

#imageUpload{
  display: none;
}

.dropdown-menu {
  color: white;
}

.dropdown-menu .btn {
  color: white;
}

