<div class="side-block">
	<p>Search by Games:</p>

	<form
		action="/search"
		method="post">
		<div class="youplay-input">
			<input
				type="text"
				name="name"
				placeholder="Search..." />
		</div>
	</form>
</div>
<!-- /Side Search -->

<!-- Side Categories -->
<div class="side-block">
	<h4 class="block-title">Categories</h4>
	<ul class="block-content">
		<li><a href="/search?category=Action">Action</a></li>
		<li><a href="/search?category=Adventure">Adventure</a></li>
		<li><a href="/search?category=Casual">Casual</a></li>
		<li><a href="/search?category=Indie">Indie</a></li>
		<li><a href="/search?category=Racing">Racing</a></li>
		<li><a href="/search?category=RPG">RPG</a></li>
		<li><a href="/search?category=Simulation">Simulation</a></li>
		<li><a href="/search?category=Strategy">Strategy</a></li>
	</ul>
</div>
<!-- /Side Categories -->

<!-- Side Popular News -->
<div class="side-block">
	<h4 class="block-title">Popular Games</h4>
	<div class="block-content p-0">
		<!-- Single News Block -->
		<div class="row youplay-side-news" *ngFor="let game of recomendedGames">
			<div class="col-xs-3 col-md-4">
				<a
					href="/game/{{game.id}}"
					class="angled-img">
					<div class="img">
						<img
							[src]="gameImage(game)"
							alt="" />
					</div>
				</a>
			</div>
			<div class="col-xs-9 col-md-8">
				<h4 class="ellipsis">
					<a
						href="/game/{{game.id}}"
						title="{{game.name}}"
						>{{game.name}}</a
					>
				</h4>
				<span class="price">${{game.price}}</span>
			</div>
		</div>
		<!-- /Single News Block -->
	</div>
</div>
