<!-- @format -->

{{#foundReviews}}
<!-- Kristen Bradley review -->
<li>
  <article>
    <div class="review-avatar pull-left">
      <img src="/{{user.id}}/imageProfile" />
    </div>
    <div class="review-cont clearfix">
      <div class="rating pull-right">
        <div
          class="stars rateyo"
          data-rateyo-rating="{{rating}}"
          data-rateyo-num-stars="5"
          data-rateyo-read-only="true"
          data-rateyo-star-width="18px"
          data-rateyo-rated-fill="#FFFFFF"
        ></div>
      </div>
      {{#user}}
      <a class="review-author h4">{{name}} {{lastName}}</a>
      {{/user}} {{#admin}}
      <a
        href="/deleteReview/{{id}}"
        class="remove glyphicon glyphicon-remove"
      ></a>
      {{/admin}}
      <div class="date">
        <i class="fa">
          <i class="fa fa-calendar"></i>
        </i>
        {{date}}
      </div>
      <div class="review-text">
        <p>{{comment}}</p>
      </div>
    </div>
  </article>
</li>
{{/foundReviews}}

<script>
  $(function () {
    $(".rateyo")
      .rateYo()
      .on("rateyo.change", function (data) {
        var rating = data.rating;
        $(this)
          .parent()
          .find(".result")
          .text("rating :" + rating);
      });
  });
</script>
