<!-- @format -->

{{>headerImport}} {{>navbar}}
<!-- /Navbar -->

<!-- Main Content -->
<section class="content-wrap">
  <!-- Banner -->
  <div class="youplay-banner youplay-banner-parallax banner-top xsmall">
    <div
      class="image"
      style="background-image: url('/images/banner-blog-bg.jpg')"
    ></div>

    <div class="info">
      <div>
        <div class="container">
          <h1>Search</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banner -->

  <div class="container youplay-search">
    <form action="/search">
      <div class="youplay-input">
        <input
          type="text"
          name="name"
          value="{{lastSearch}}"
          placeholder="Search..."
          autofocus
        />
      </div>

      <label class="youplay-select">
        <select name="category">
          <option value="">Select Category</option>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Casual">Casual</option>
          <option value="Indie">Indie</option>
          <option value="Racing">Racing</option>
          <option value="RPG">RPG</option>
          <option value="Simulation">Simulation</option>
          <option value="Strategy">Strategy</option>
        </select>
      </label>
      <button class="btn btn-default navbar-btn" type="submit">Find</button>
    </form>

    <div class="row">
      <div class="col-md-12">
        {{#found}}
        <h2>Games</h2>
        {{/found}} {{^found}}
        <h2>No games found</h2>
        {{/found}}

        <!-- Single Product Block -->
        {{#games}}
        <a href="/game/{{id}}" class="angled-bg">
          <div class="row">
            <div class="col-md-3 col-xs-4">
              <div class="angled-img">
                <div class="img">
                  <img src="{{id}}/imageTitle" alt="" />
                </div>
              </div>
            </div>
            <div class="col-md-9 col-xs-8">
              <div class="row">
                <div class="col-xs-6 col-md-9">
                  <h4>{{name}}</h4>
                  <div
                    class="stars rateyo"
                    data-rateyo-rating="{{averageStars}}"
                    data-rateyo-num-stars="5"
                    data-rateyo-read-only="true"
                    data-rateyo-star-width="15px"
                    data-rateyo-rated-fill="#FFFFFF"
                  ></div>
                </div>
                <div class="col-xs-6 col-md-3 align-right">
                  <div class="price">${{price}}</div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- /Single Product Block -->
        {{/games}}
        <div id="moreFoundGames"></div>
        <button class="btn btn-default" id="btnMoreFoundGames">
          Load More Games
        </button>
        <div id="loaderFoundGame" class="lds-dual-ring hidden"></div>
      </div>
    </div>
  </div>

  {{>footerImport}}
</section>
