{{#foundGames}}
<div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular">
    <a href="/game/{{id}}" class="angled-img">
      <div class="img img-offset">
        <img src="/{{id}}/imageTitle" alt="">
      </div>
      <div class="bottom-info">
        <h4>{{name}}</h4>
        <div class="row">
          <div class="col-xs-6">
            <div class="stars rateyo" data-rateyo-rating="{{averageStars}}" data-rateyo-num-stars="5"
            data-rateyo-read-only="true"  data-rateyo-star-width= "15px" data-rateyo-rated-fill= "#FFFFFF"></div>
          </div>
          <div class="col-xs-6">
            <div class="price">
              ${{price}}
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {{/foundGames}}
  <script>
    $(function () {
      $(".rateyo").rateYo().on("rateyo.change", function (data) {
        var rating = data.rating;
        $(this).parent().find('.result').text('rating :'+ rating);
       });
    });
  </script>