<!-- @format -->

{{>headerImport}} {{>navbar}}

<!-- Main Content -->
<section class="content-wrap">
  <!-- Banner -->
  <div class="youplay-banner banner-top youplay-banner-parallax xsmall">
    <div
      class="image"
      style="background-image: url('/images/banner-blog-bg.jpg')"
    ></div>
    <div class="info">
      <div>
        <div class="container">
          <h1>Game Form</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banner -->

  <form
    action="/newGame"
    method="post"
    id="gameForm"
    enctype="multipart/form-data"
  >
    <div class="container youplay-content">
      <div class="align-right">
        <a class="btn btn-lg" href="/">Cancel</a>
      </div>
      <div class="col-md-12">
        <!-- Billing Information -->
        <h2 class="mt-0">Game Details</h2>

        <!-- Country -->
        <p>Categories:</p>
        <label class="youplay-select">
          <select name="category" required>
            <option value="">Select Category</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Casual">Casual</option>
            <option value="Indie">Indie</option>
            <option value="Racing">Racing</option>
            <option value="RPG">RPG</option>
            <option value="Simulation">Simulation</option>
            <option value="Strategy">Strategy</option>
          </select>
        </label>
        <div class="row">
          <div class="col-md-6">
            <p>Game Name:</p>
            <div class="youplay-input">
              <input name="name" placeholder="Game Name" required />
            </div>
          </div>
          <div class="col-md-6">
            <p>Price:</p>
            <div class="youplay-input">
              <input
                type="number"
                step="0.01"
                name="price"
                placeholder="Price"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>OS:</p>
            <div class="youplay-input">
              <input type="text" name="os" placeholder="OS" required />
            </div>
          </div>
          <div class="col-md-4">
            <p>Processor:</p>
            <div class="youplay-input">
              <input
                type="text"
                name="processor"
                placeholder="Processor"
                required
              />
            </div>
          </div>
          <div class="col-md-4">
            <p>Memory:</p>
            <div class="youplay-input">
              <input type="text" name="memory" placeholder="Memory" required />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p>DirectX:</p>
            <div class="youplay-input">
              <input
                type="text"
                name="directX"
                placeholder="DirectX"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <p>Network:</p>
            <div class="youplay-input">
              <input
                type="text"
                name="network"
                placeholder="Network"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Hard Drive:</p>
            <div class="youplay-input">
              <input
                type="text"
                name="hardDrive"
                placeholder="Hard drive"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <p>Sound Card:</p>
            <div class="youplay-input">
              <input
                type="text"
                name="soundCard"
                placeholder="Sound Card"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Graphic:</p>
            <div class="youplay-input">
              <input
                type="text"
                name="graphics"
                placeholder="Graphic"
                required
              />
            </div>
          </div>
        </div>

        <p>Images:</p>
        <label for="imageUpload">
          <div class="align-left">
            <a class="btn btn-lg">Gamecover Picture</a>
          </div></label
        >
        <div class="imageInput">
          <input
            type="file"
            id="imageUpload"
            name="imageField"
            accept=".png, .jpg, .jpeg"
            required
          />
        </div>

        <label for="imageUploads">
          <div class="align-left">
            <a class="btn btn-lg">Gameplay Pictures</a>
          </div></label
        >
        <div class="imageInput">
          <input
            id="imageUploads"
            type="file"
            multiple
            name="imageFields"
            accept=".png,
          .jpg, .jpeg"
            required
          />
        </div>
        <p>Description:</p>
        <div class="youplay-textarea">
          <textarea
            name="description"
            rows="5"
            placeholder="Description"
            required
          ></textarea>
        </div>

        <!-- /Billing Information -->

        <!-- Order Button -->
        <div class="align-right">
          <button class="btn btn-default db" type="submit">Create Game</button>
          <input type="hidden" name="_csrf" value="{{token}}" />
        </div>
        <!-- /Order Button -->
      </div>
    </div>
  </form>

  {{>footerImport}}
</section>
