        <!-- Side Search -->
        <div class="side-block">
            <p>Search by Games:</p>
  
            <form action="/search" method="post">
              <div class="youplay-input">
                <input type="text" name="name" placeholder="Search...">
              </div>
              <input type="hidden" name="_csrf" value="{{token}}" />
            </form>
          </div>
          <!-- /Side Search -->
  
          <!-- Side Categories -->
          <div class="side-block">
            <h4 class="block-title">Categories</h4>
            <ul class="block-content">
              <li><a href="/search?category=Action">Action</a>
              </li>
              <li><a href="/search?category=Adventure">Adventure</a>
              </li>
              <li><a href="/search?category=Casual">Casual</a>
              </li>
              <li><a href="/search?category=Indie">Indie</a>
              </li>
              <li><a href="/search?category=Racing">Racing</a>
              </li>
              <li><a href="/search?category=RPG">RPG</a>
              </li>
              <li><a href="/search?category=Simulation">Simulation</a>
              </li>
              <li><a href="/search?category=Strategy">Strategy</a>
              </li>
            </ul>
          </div>
          <!-- /Side Categories -->