{{>HeaderImport}}
  {{>Navbar}}
  <!-- /Navbar -->


  <!-- Main Content -->
  <section class="content-wrap">

    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax small">
      <div class="image" style="background-image: url('/images/game-diablo-iii-1400x656.jpg')">
      </div>

      <div class="youplay-user-navigation">
        <div class="container">
          <ul>
            <li class="active"><a href="user-profile.html">Profile</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="info">
        <div>
          <div class="container youplay-user">
            <a href="/images/user-photo.jpg" class="angled-img image-popup">
              <div class="img">
                <img src="/images/user-avatar.jpg" alt="">
              </div>
              <i class="fa fa-search-plus icon"></i>
            </a>
            <!--
                -->
            <div class="user-data">
              <h2>John Doe</h2>
              <div class="activity">
                <div>
                  <div class="num">12</div>
                  <div class="title">Games</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-content">

      <div class="row">

        <div class="col-md-9">

          <h3 class="mt-40 mb-20">Personal Information</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <p>Favorite games</p>
                </td>
                <td>
                  <p><a href="#">Bloodborne</a>, <a href="#">Dark Souls II</a>, <a href="#">Kingdoms of Amalur</a>, <a href="#">The Witcher</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>About Me</p>
                </td>
                <td>
                  <p>Netus. Nascetur arcu amet accumsan natoque. Augue aptent euismod sed magna diam nostra, molestie mi felis. Egestas nisl ante posuere dui Nostra tempus pulvinar at dui augue mattis placerat iaculis hac arcu rutrum.</p>

                  <p>Vel <strong>class</strong> lectus auctor interdum. Mi <strong>nec</strong> senectus commodo sed suscipit vitae parturient, risus vivamus quisque dolor aliquet amet. Etiam penatibus nascetur netus. Non leo eu vitae sem laoreet. Varius in
                    augue. Mollis convallis.</p>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- Left Side -->
        <div class="col-md-3">
          <div class="side-block">
            <h4 class="block-title">About</h4>
            <div class="block-content">
              Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus, ubi tu non Virginiae ornare vel ipsum. Ut enim Albuquerque et ille eum iure hic, et ego ducam te ad iustitiam.
            </div>
          </div>
        </div>
        <!-- Left Side -->

      </div>

    </div>

{{>FooterImport}}